$background-color: red;
$color: #fff;
@mixin flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin rectBorder {
	padding: 15px 45px;
	border: 1px solid grey;
}
// Navbar Link font-size
@mixin navFontSize {
	font-size: 15px;
}

// ASIDE NAVBAR
.aside-nav {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	a {
		text-decoration: none;
		color: black;
	}
	@media (min-width: 768px) {
		display: none;
	}
}
.flex_item2 {
	@include flex;
	gap: 20px;
	a {
		text-decoration: none;
		.homeSign {
			background-color: $background-color;
			color: $color;
		}
		.homeReg {
			background-color: $background-color;
			color: $color;
		}
	}
	h6 {
		@include rectBorder;
		@include navFontSize;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
