// ASIDE STYLING
.mobile-navbar {
	padding-top: 30px;
	position: absolute;
	width: 60%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #efefef;
	.closed {
		font-size: 18px;
		position: absolute;
		cursor: pointer;
		top: 20px;
		left: 40px;
	}
	@media (min-width: 767px) {
		display: none;
	}
}
